@model MassZone_API.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.cateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.cateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.featureImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.featureImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voteEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voteEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voteNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voteNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voteRequire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voteRequire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.votePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.votePrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.postId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
