@model IEnumerable<MassZone_API.Models.CheckOut>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.proName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Products.proName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ckTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ckId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ckId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ckId })
        </td>
    </tr>
}

</table>
